.labels
  margin 1em 0
  display flex
  flex-direction column
  justify-content flex-start
  padding-left: 16px
  align-items flex-start


  &_hidden
    display none

  &:not(&_inline)
    margin 0
    flex-direction column
    align-items flex-start

